<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Script Eden ( http://scripteden.net/ ) Template Builder v2.0.0">
    <!--pageMeta-->

    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- Loading Bootstrap -->
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css">

    <!-- Loading Flat UI -->
    <link rel="stylesheet" type="text/css" href="static/css/flat-ui.css">

    <link rel="stylesheet" type="text/css" href="static/css/style.complete.css">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <!--headerIncludes-->


</head>
<body>

    <div id="page" class="page">

    <!-- /.wrapper -->

    	<!-- /.item --><div class="item header margin-top-0 padding-bottom-0" id="header3">

    		<header class="wrapper image image1">

    			<div class="bg bg1"></div>

    			<div class="container">

    				<div class="row banner2">

    					<div class="col-md-5 blockbox">

    						<h1 class="editContent">WEAPON OF MASSDESTRUCTION</h1>

    						<p class="editContent">WMD is a simple framework containing python developed tools and interaction with other established tools.</p>

                            <div class="frontpagebtnholder">

                                <a href="/start" class="btn btn-default btn-lg btn-wide frontpagebtn">Get started</a>

                                <a href="/info" class="btn btn-primary btn-lg btn-wide frontpagebtn">Gitlab</a>

                            </div>

    					</div>

    				</div><!-- /.row -->

    			</div><!-- /.container -->

    		</header></div><!-- /.wrapper -->

    	<!-- /.item --></div><!-- /#page -->


    <!-- Load JS here for greater good =============================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.complete.css') }}">

    <script src="static/js/jquery-1.8.3.min.js"></script>
    <script src="static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-select.js"></script>
    <script src="static/js/bootstrap-switch.js"></script>
    <script src="static/js/flatui-checkbox.js"></script>
    <script src="static/js/flatui-radio.js"></script>
    <script src="static/js/jquery.tagsinput.js"></script>
    <script src="static/js/jquery.placeholder.js"></script>
	<script src="static/js/jquery.nivo.slider.pack.js"></script>
    <script src="static/js/application.js"></script>
	<script src="static/js/over.js"></script>
	<script>
	$(function(){

		if( $('#nivoSlider').size() > 0 ) {

	    	$('#nivoSlider').nivoSlider({
	    		effect: 'random',
				pauseTime: 5000
	    	});

		}

	})
	</script>


</body></html>
