<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--pageMeta-->
    <link href="static/css/style.css" rel="stylesheet">

    <!-- Loading Bootstrap -->
    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="static/css/flat-ui.css" rel="stylesheet">


    <link href="static/css/style.complete.css" rel="stylesheet">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <!--headerIncludes-->


</head>
<body>

    <div id="page" class="page">

    <!-- /.wrapper -->

    	<!-- /.item --><div class="item header margin-top-0 padding-bottom-0" id="header3">

    		<header class="wrapper image image1">

    			<div class="bg bg3"></div>

    			<div class="container" style="padding-top: 20px;!important">

                    <div class="toolbox blockbox">

                        <h1 class="editContent" style="text-align: center; padding-top: 10px;"><b>WEAPON OF MASSDESTRUCTION</b></h1>

                        <h2 class="" style="color: white; text-align: center; margin-top: 5px;!important"><b>Choose your weapon</b></h2>

                        <div class="toolboxholder">
                            <div class=".col-md-6" style="display: inline-block; width: 32%;">
                                <a href="#" class="btn maintoolboxbtn btn-lg btn-wide toolboxbtn">Version {{ version | safe }}</a>
                            </div>
                            <div class=".col-md-6" style="display: inline-block; width: 32%;">
                                <a href="https://www.gitlab.com/ThomasTJ" target="_blank" class="btn maintoolboxbtn btn-lg btn-wide toolboxbtn">Gitlab</a>
                            </div>
                        </div>

                    </div>

    				<div class="row banner2">

                        {{ modules | safe }}

    				</div><!-- /.row -->

    			</div><!-- /.container -->

    		</header></div><!-- /.wrapper -->

    	<!-- /.item --></div><!-- /#page -->


    <!-- Load JS here for greater good =============================-->
    <script src="static/js/jquery-1.8.3.min.js"></script>
    <script src="static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-select.js"></script>
    <script src="static/js/bootstrap-switch.js"></script>
    <script src="static/js/flatui-checkbox.js"></script>
    <script src="static/js/flatui-radio.js"></script>
    <script src="static/js/jquery.tagsinput.js"></script>
    <script src="static/js/jquery.placeholder.js"></script>
	<script src="static/js/jquery.nivo.slider.pack.js"></script>
    <script src="static/js/application.js"></script>
	<script src="static/js/over.js"></script>
	<script>
	$(function(){

		if( $('#nivoSlider').size() > 0 ) {

	    	$('#nivoSlider').nivoSlider({
	    		effect: 'random',
				pauseTime: 5000
	    	});

		}

	})
	</script>


</body></html>
