/* general styles */

p {
	font-size: 16px;
}

h1 {
	font-size: 34px;
	line-height: 54px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

.light {
	font-weight: 400;
}

form .row {
	margin-bottom: 20px;
}

#page {

}

.item {

}

.item.header {
	padding-bottom: 50px;
}

.item.content, .item.portfolio, .item.team, .item.pricing, .item.contact {
	padding-top: 60px;
	padding-bottom: 60px;
}

.item.footer {
}

.margin-top-100 {
	margin-top: 100px !important;
}

.margin-top-60 {
	margin-top: 60px !important;
}

.margin-top-80 {
	margin-top: 80px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.padding-top-0 {
	padding-top: 0px !important;
}

.padding-top-20 {
	padding-top: 20px !important;
}

.padding-top-100 {
	padding-top: 180px !important;
}

.padding-bottom-60 {
	padding-bottom: 60px !important;
}

.padding-bottom-0 {
	padding-bottom: 0px !important;
}

.margin-top-0 {
	margin-top: 0px !important;
}

.width-100 {
	width: 100%;
}

header .navbar.plain li.active a {
	color: #1ABC9C;
}

header .navbar-white {
	background: #fff;
}

header .navbar-white a {
	color: #3D566E;
}


/* videos */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videoWrapper > .frameCover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: none;
}

/* personal */

.blockbox {
    background-color: rgba(120, 117, 117, 0.9)!important;
    border-radius: 20px;
}

.frontpagebtnholder {
    width: 100%;
    text-align: center;
}

.frontpagebtn {
    width: 40%;
    margin-left: 10px!important;
    margin-right: 10px!important;
}

.wrapper.image .bg3 {
    background-image: url(../images/picture3.jpg);
    background-repeat: no-repeat;
    /*background-position: 0% bottom;*/
    background-size: cover;
    background-attachment: scroll;
    background-color: rgba(0, 0, 0, 0);
    /*background: url(../images/picture2.jpg) no-repeat scroll 50% bottom / cover  rgba(0, 0, 0, 0);*/
}

.toolbox {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: auto;
}

.toolboxholder {
    width: 100%;
    text-align: center;
}

.toolboxbtn {
    width: 60%;
    margin-left: 10px!important;
    margin-right: 10px!important;
}

.maintoolboxbtn {
    color: #ffffff;
    background-color: #bdc3c7;
    background: #97333d;
    box-shadow: 0 2px #5d4f51;
    color: #000;
}
